/*****User Account******/
#entr-user-account > div{float:left;}
.account-wrapper-ltr {width: 25%;}
.account-wrapper-rtl {width: 75%;}
.wrapper-ltr-main li {display: block;background: linear-gradient(to bottom, #1198DC 0%, #0785C4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);height: 40px;}
.wrapper-ltr-main li.active, .wrapper-ltr-main > ul > li:hover{background: linear-gradient(to bottom, #0570A6 0%, #0D7FB8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.wrapper-ltr-main > ul {
    background: none repeat scroll 0 0 #0570A6;
    border: 1px solid #0570A6;
    box-shadow: 0 1px 2px 0 #909090;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 20px;
}
.wrapper-ltr-main > ul > li > a {
    background: url("../images/arow-cotrol.png") no-repeat scroll 226px 12px rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
}
.first{border-bottom: 1px solid #0570A6;}
.m-item {border-bottom: 1px solid #0570A6;}
.wrapper-rtl-main {border: 1px solid #CCCCCC;border-radius: 5px;margin: 20px;padding: 10px 10px 0;}
.wrapper-rtl-main .account-right-header {border-bottom: 1px solid #CCCCCC;margin: 0 -10px;overflow: hidden;padding-bottom: 8px;}
.button-action-account .form-actions {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;float: left;margin: 0;padding: 0;}
.button-action-account {float: right;margin-right: 10px;}
.account-right-header h3 {float: left;font-weight: bold;line-height: normal;padding-left: 20px;padding-top: 2px;font-size: 19px;}
.button-action-account > a {float: left;font-size: 15px;padding-right: 10px;padding-top: 5px;}
#userAccountId, #userAccountId:hover, #userProfileId, #userProfileId:hover {
    background-color: #0570a6;
    background-image: -moz-linear-gradient(center top , #1198db, #0683c1);
    background-image: -webkit-linear-gradient(center top , #1198db, #0683c1);
    background-image: -o-linear-gradient(center top , #1198db, #0683c1);
    background-repeat: repeat-x;
    border: 1px solid #0570a6;
    border-radius: 3px;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 16px;
}
.field-row {padding-bottom: 15px;width: 500px;}
.field-row input {height: 35px;padding: 0 4px;width: 485px;font-size:15px;}
.field-row label {font-size: 16px;font-weight: bold;}
.field-row label .required{display: none;}
.user-account-body {padding: 20px 10px 0;}
#config-user-account {margin: 0 auto;}
#config-user-account .error-validate, #config-user-account .ok-validate{background-position: 470px center;}
.invalid-field, .invalid-strength{padding-right: 6px;}
.message-success {
    background: url("../images/ok.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    border: 1px solid #65b346;
    color: #65b346;
    margin: 15px 20px 0;
    padding: 10px 30px;
    position: relative;
}
/****Profile user****/
label[for="UserProfile_company"] > span, label[for="UserProfile_bio_user"] > span {color: #909090;font-size: 12px;font-weight: normal;padding-left: 5px;}
select#UserProfile_company_type {font-size: 15px;height: 35px;padding: 6px 4px;width: 495px;background: none repeat scroll 0 0 #ffffff;}
textarea#UserProfile_bio_user {resize: none;width: 485px;font-size: 15px;}
.profile-photo-wrapper {overflow: hidden;}
.profile-photo-wrapper > div {float: left;position:relative;}
.field-row-avatar {height: 40px;position: relative;width: 348px;}
#UserProfile_avatar {display: block;opacity: 0;position: absolute;z-index: 9999;height: 45px;width: 295px;}
#avatarProfile {
    color: #909090;
    font-size: 16px;
    height: 35px;
    left: 0;
    margin-left: 10px;
    position: absolute;
    top: 5px;
    width: 285px;
}
#nameFile-Profile {display: none;padding-left: 12px;padding-top: 40px;position: relative;}
.avatar-profile-file {min-height: 40px;font-size: 16px;}
.intro-photo-profile {color: #989898;padding-left: 12px;padding-top: 5px;}
.user-field-terms {display: block;margin-bottom: 25px;margin-top: -15px;overflow: hidden;position: relative;}
.user-field-terms > input {display: block;float: left;}
.user-field-terms label {display: block;float: left;font-size: 15px;font-weight: bold;padding-left: 10px;}
.photo-avatar-image > a {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -webkit-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    -moz-box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    box-shadow: 5px 0px 3px -5px #909090 inset, -5px 0px 3px -5px #909090 inset, 0px 5px 3px -5px #909090 inset, 0px -5px 3px -5px #909090 inset;
    display: block;
    height: 125px;
    padding: 5px;
    width: 125px;
}
label[for="UserProfile_keep_private"] span{display: none;}
#UserProfile_company_type_title {border: 1px solid #ccc;border-radius: 3px;height: 35px;padding: 0;cursor: pointer;}
#UserProfile_company_type_child {border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;border-radius: 0 0 3px 3px;border-right: 1px solid #ccc;}
.load-process{display: none;left: 0;margin: 0 auto;position: absolute;right: 0;text-align: center;top: 63px;z-index: 99999;width:85%;}
.background-media-proccess-logo {background: none repeat scroll 0 0 #ff0000;display: block;height: 8px;}
.invalid-email {padding-right: 5px;}
.bio_user_field .status {color: #666;float: right;margin-bottom: 10px;margin-top: -10px;padding-right: 5px;}