/************** Skin 1 *********************/
.dd {
	/*display:inline-block !important;*/
	text-align: left;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
}
.dd .ddTitle {
	background: #f2f2f2;
	border: 1px solid #c3c3c3;
	padding: 3px;
	text-indent: 0;
	cursor: default;
	overflow: hidden;
	height: 16px;
}
.dd .ddTitle span.arrow {
	background: url(dd_arrow.gif) no-repeat 0 0;
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dd .ddTitle span.ddTitleText {
	text-indent: 1px;
	overflow: hidden;
	line-height: 16px;
}
.dd .ddTitle span.ddTitleText img {
	text-align: left;
	padding: 0 2px 0 0
}
.dd .ddTitle img.selected {
	padding: 0 3px 0 0;
	vertical-align: top;
}
.dd .ddChild {
	position: absolute;
	border: 1px solid #c3c3c3;
	border-top: none;
	display: none;
	margin: 0;
	width: auto;
	overflow: auto;
	overflow-x: hidden !important;
	background-color: #ffffff;
}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {
	padding-left: 10px
}
.dd .ddChild a {
	display: block;
	padding: 2px 0 2px 3px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
.dd .ddChild a:hover {
	background-color: #66CCFF;
}
.dd .ddChild a img {
	border: 0;
	padding: 0 2px 0 0;
	vertical-align: middle;
}
.dd .ddChild a.selected {
	background-color: #66CCFF;
}
#l10n-client .hidden {
	display: none;
}

.dd .borderTop {
	border-top: 1px solid #c3c3c3 !important;
}
.dd .noBorderTop {
	border-top: none 0 !important
}

/************** Skin 2 *********************/
.dd2 {
	/*display:inline-block !important;*/
	text-align: left;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	/*width: 135px !important;*/
}
.dd2 .ddTitle span.arrow {
	background: transparent url(../images/arrow-drop.png) no-repeat 0 0;
	float: right;
    display: inline-block;
    height: 4px;
    top: 15px;
    width: 7px;
	position: relative;
	right: 12px;
    cursor: pointer;
	background-position: 0 0 !important;
}

.dd2 .ddTitle span.ddTitleText {
	font-weight: normal;
	font-size: 15px;
	color: #555;
	line-height: 25px;
	overflow: hidden;
	text-indent: 1px;
	top: 2px;
	padding-left: 2px;
	position: relative;
}
.dd2 .ddTitle span.ddTitleText img {
	text-align: left;
	padding: 0 2px 0 0;
}
.dd2 .ddTitle img.selected {
	padding: 0 2px 0 0;
	vertical-align: top;
}
.dd2 .ddChild {
	position: absolute;
	border: 1px solid #c3c3c3;
	border-top: none;
	display: none;
	margin: 0;
	width: auto;
	overflow: auto;
	overflow-x: hidden !important;
	background-color: #ffffff;
}
.dd2 .ddChild .opta a, .dd2 .ddChild .opta a:visited {
	padding-left: 10px
}
.dd2 .ddChild a {
	display: block;
	padding: 3px 0 3px 3px;
	text-decoration: none;
	color: #5a7492;
	font-size: 15px;
	padding-left: 10px;
	line-height: 25px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}
.dd2 .ddChild a:hover {
	background-color: #ECF9FF;
}
.dd2 .ddChild a img {
	border: 0;
	padding: 0 2px 0 0;
	vertical-align: middle;
}
.dd2 .ddChild a.selected {
	background-color: #f8f8f8;
}
.dd2 .ddChild {
	/*border: none 0 !important;*/
	/*width: 135px !important;*/
}
.dd2 .borderTop {
	/*border-top: 1px solid #c3c3c3 !important;*/
}
.dd2 .noBorderTop {
	/*border: none 0 !important;*/
	/*width: 135px !important;*/
}

/************* use sprite *****************/
.dd .ddChild a.sprite, .dd .ddChild a.sprite:visited {
	background-image: url(../icons/sprite.gif);
	background-repeat: no-repeat;
	padding-left: 24px;
}

.dd .ddChild a.calendar, .dd .ddChild a.calendar:visited {
	background-position: 0 -404px;
}
.dd .ddChild a.shoppingcart, .dd .ddChild a.shoppingcart:visited {
	background-position: 0 -330px;
}
.dd .ddChild a.cd, .dd .ddChild a.cd:visited {
	background-position: 0 -439px;
}
.dd .ddChild a.email, .dd .ddChild a.email:visited {
	background-position: 0 -256px;
}
.dd .ddChild a.faq, .dd .ddChild a.faq:visited {
	background-position: 0 -183px;
}
.dd .ddChild a.games, .dd .ddChild a.games:visited {
	background-position: 0 -365px;
}
.dd .ddChild a.music, .dd .ddChild a.music:visited {
	background-position: 0 -146px;
}
.dd .ddChild a.phone, .dd .ddChild a.phone:visited {
	background-position: 0 -109px;
}
.dd .ddChild a.graph, .dd .ddChild a.graph:visited {
	background-position: 0 -73px;
}
.dd .ddChild a.secured, .dd .ddChild a.secured:visited {
	background-position: 0 -37px;
}
.dd .ddChild a.video, .dd .ddChild a.video:visited {
	background-position: 0 0;
}
/*******************************/

#select-i-am_msdd {
	border: 1px solid #C6E1F2;
    width: 243px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#select-i-am_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#select-i-am_child {
	width: 245px!important;
	border: 1px solid rgb(214, 231, 242) !important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#select-weight_msdd {
	border: 1px solid #C6E1F2;
    width: 243px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#select-weight_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#select-weight_child {
	width: 245px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#select-height_msdd {
	border: 1px solid #C6E1F2;
    width: 243px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#select-height_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#select-height_child {
	width: 245px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#select-age-2_msdd, #select-age-1_msdd {
	border: 1px solid #C6E1F2;
    width: 90px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#select-age-2_title, #select-age-1_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#select-age-2_child, #select-age-1_child {
	width: 90px!important;
	border: 1px solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	height: 220px!important;
}
#sl-district_msdd {
	border: 1px solid #C6E1F2;
    width: 355px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#sl-district_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#sl-district_child {
	width: 355px!important;
	border: 1px solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	height: 220px!important;
}
#sl-district_msa_0 {
	display: none!important;
}
#edit-key-age-search_msdd {
	border: 1px solid #E6CFC4;
    width: 182px!important;
    position: relative;
    background: url("../images/bgtextsearchtop.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
    float: left;
    margin: 23px 20px 0;
}
#edit-key-age-search_title {
    cursor: pointer;
    height: 35px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#edit-key-age-search_child {
	width: 184px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#edit-key-age-search_titletext {
	top: 5px!important;
}
#edit-key-age-search_titletext .ddTitleText {
	font-size: 16px;
}
#edit-key-age-search_arrow {
	background: url("../images/poitop100search.png") no-repeat scroll 0 0 transparent !important;
    top: 9px !important;
}
#edit-key-age-search_child .ddTitleText {
	font-size: 16px;
}
/*Register*/
#bthDaySelect_msdd {
	border: 1px solid #C6E1F2;
    width: 69px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 30px;
    border-radius: 3px;
}
#bthDaySelect_title {
    cursor: pointer;
    height: 30px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#bthDaySelect_child {
	width: 70px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
.mainBirth .ddTitleText {
	top: 1px!important;
	padding-left: 4px!important;
}
#bthMonthSelect_msdd {
	background: url("../images/bgselectbox.png") repeat-x scroll left top rgba(0, 0, 0, 0); 
    border: 1px solid rgb(198, 225, 242);  
    border-radius: 3px; 
    height: 30px; 
    position: relative; 
    width: 107px !important; 
}
#bthMonthSelect_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#bthMonthSelect_child {
	width: 111px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#bthYearSelect_msdd {
	border: 1px solid #C6E1F2;
    width: 70px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 30px;
    border-radius: 3px;
}
#bthYearSelect_title {
    cursor: pointer;
    height: 30px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#bthYearSelect_child {
	width: 111px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
/*End Register*/
/*travel*/
#looking_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#looking_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#looking_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#people_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#people_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#people_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#purpose_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#purpose_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#purpose_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#time_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#time_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#time_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#month_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#month_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#month_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#beginning_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#beginning_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#beginning_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#we_appear_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#we_appear_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#we_appear_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#finance_search_msdd {
	border: 1px solid #C6E1F2;
    width: 350px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#finance_search_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#finance_search_child {
	width: 352px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
/*end travel*/
/*profile*/
#comments_photo_msdd {
	border: 1px solid #C6E1F2;
    width: 250px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#comments_photo_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#comments_photo_child {
	width: 252px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#bddayd_msdd {
	float: left;
	margin-right: 5px;
	border: 1px solid #C6E1F2;
    width: 100px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#bddayd_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#bddayd_child {
	width: 102px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#bdmonthd_msdd {
	float: left;
	margin-right: 5px;
	border: 1px solid #C6E1F2;
    width: 100px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#bdmonthd_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#bdmonthd_child {
	width: 102px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#bdyeard_msdd {
	float: left;
	margin-right: 5px;
	border: 1px solid #C6E1F2;
    width: 100px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#bdyeard_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#bdyeard_child {
	width: 102px!important;
	border: none solid #D6E7F2!important;
	left: -1px;
	top: -1px!important;
	box-shadow: 0 0 20px #C6E1F2;
	border-radius: 3px;
}
#edit-agedating_msdd {
	float: left;
	border: 1px solid #C6E1F2;
    width: 170px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 30px;
    border-radius: 3px;
}
#edit-agedating_title {
    cursor: pointer;
    height: 30px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#edit-agedating_child {
    background: none repeat scroll 0 0 rgb(248, 248, 248);
    border-radius: 3px;
    box-shadow: 0 0 20px rgb(198, 225, 242);
    height: 35px;
    left: 0;
    top: 0 !important;
    width: 170px !important;
}
#edit-agedating_msa_0 {
    padding: 6px 0 3px 10px!important;
}
#edit-purpose_msdd {
	float: left;
	border: 1px solid #C6E1F2;
    width: 250px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 30px;
    border-radius: 3px;
}
#edit-purpose_title {
    cursor: pointer;
    height: 30px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#edit-purpose_child {
    background: none repeat scroll 0 0 rgb(248, 248, 248);
    border-radius: 3px;
    box-shadow: 0 0 20px rgb(198, 225, 242);
    height: 35px;
    left: 0;
    top: 0 !important;
    width: 250px !important;
}
#edit-purpose_msa_0 {
    padding: 6px 0 3px 10px!important;
}
/*speed dating*/
#agespeed_msdd {
    border: 1px solid #E6CFC4;
    width: 182px!important;
    position: relative;
    background: url("../images/bgtextsearchtop.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
    float: left;
    margin: 23px 20px 0;
}
#agespeed_title {
    cursor: pointer;
    height: 35px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#agespeed_child {
    width: 184px!important;
    border: none solid #D6E7F2!important;
    left: -1px;
    top: -1px!important;
    box-shadow: 0 0 20px #C6E1F2;
    border-radius: 3px;
}
/*Dating*/
#select-hour-id_msdd {
    float: left;
    margin-right: 5px;
    border: 1px solid rgb(184, 229, 250);
    width: 83px!important;
    position: relative;
    box-shadow: 0 1px 5px 0 rgb(184, 229, 250);
    height: 35px;
    border-radius: 3px;
}
#select-hour-id_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#select-hour-id_child {
    width: 85px!important;
    border: none solid #D6E7F2!important;
    left: -1px;
    top: -1px!important;
    box-shadow: 0 0 20px rgb(184, 229, 250);
    border-radius: 3px;
}
#select-muni-id_msdd {
    float: left;
    margin-right: 5px;
    border: 1px solid rgb(184, 229, 250);
    width: 83px!important;
    position: relative;
    box-shadow: 0 1px 5px 0 rgb(184, 229, 250);
    height: 35px;
    border-radius: 3px;
}
#select-muni-id_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#select-muni-id_child {
    width: 85px!important;
    border: none solid #D6E7F2!important;
    left: -1px;
    top: -1px!important;
    box-shadow: 0 0 20px rgb(184, 229, 250);
    border-radius: 3px;
}
#edit-child_id_msdd {
    float: left;
    margin-right: 5px;
    border: 1px solid rgb(184, 229, 250);
    width: 375px!important;
    position: relative;
    box-shadow: 0 1px 5px 0 rgb(184, 229, 250);
    height: 35px;
    border-radius: 3px;
}
#edit-child_id_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#edit-child_id_child {
    width: 377px!important;
    border: none solid #D6E7F2!important;
    left: -1px;
    top: -1px!important;
    box-shadow: 0 0 20px rgb(184, 229, 250);
    border-radius: 3px;
}
/*popup mess*/
#groupFilter_msdd {
    float: left;
    margin-right: 5px;
    border: 1px solid rgb(184, 229, 250);
    width: 250px!important;
    position: relative;
    box-shadow: 0 1px 5px 0 rgb(184, 229, 250);
    height: 25px;
    border-radius: 3px;
}
#groupFilter_title {
    cursor: pointer;
    height: 27px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#groupFilter_child {
    width: 252px!important;
    border: none solid #D6E7F2!important;
    left: 0px;
    top: -1px!important;
    box-shadow: 0 0 20px rgb(184, 229, 250);
    border-radius: 3px;
}
#groupFilter_msdd span.ddTitleText {
    top: 0!important;
}
#groupFilter_msdd span.arrow {
    top: 2px!important;
}
#know-likeyou_msdd {
    border: 1px solid #C6E1F2;
    width: 300px!important;
    position: relative;
    background: url("../images/bgselectbox.png") repeat-x left top;
    height: 35px;
    border-radius: 3px;
}
#know-likeyou_title {
    cursor: pointer;
    height: 37px !important;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 28px;
}
#know-likeyou_child {
    width: 302px!important;
    border: none solid #D6E7F2!important;
    left: -1px;
    top: -1px!important;
    box-shadow: 0 0 20px #C6E1F2;
    border-radius: 3px;
}