/*Log In box*/
.main-content > .container {
	background-color: #cccccc !important;
    margin-bottom: 30px;
    box-shadow: none !important;
}
#forgot-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    margin: 20px auto;
    padding-bottom: 5px;
    width: 540px;
}

#forgot-wrapper > .form {
    margin-top: 35px;
}

#forgot-wrapper > h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 22px;
    padding: 8px 0;
    border-bottom: 5px solid #DDDDDD;
	color: #139ade;
}
#forgot-wrapper .form-actions{padding: 0px; background-color: #FFFFFF; border: none;}

#forgot-wrapper .form-actions > input {
    border-radius: 3px;
    font-size: 16px;
    padding: 7px 0;
    width: 495px;
    background-color: #1096D9;
    background-image: -moz-linear-gradient(center top , #1096D9, #0786C5);
    background-repeat: repeat-x;
    border: medium none;
}

#forgot-wrapper .form-actions > input:hover{background-color:#1096D9;background-position: 0;}

#forgot-wrapper .well, #forgot-wrapper .hint-wrapper {
    background-color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 0px;
    min-height: 0px;
    padding:0px 21px;
}

#forgot-wrapper .hint-wrapper{
	margin-bottom: 25px;
}


.user-read-terms {
    clear: both;
    display: block;
    padding-top: 20px;
}
.field-row {
    margin-bottom: 15px;
}
#forgot-form > .field-row > input[type="text"], #forgot-form > .field-row > input[type="password"]{
    height: 35px;
    padding: 0 4px;
    width: 488px;
}

#forgot-form .field-row > label, label.bold {color: #333333;font-size: 16px;font-weight: normal;}

/*Hint Create Account*/
.hint-wrapper label#faint {
	color: #909090;
}


/*Red border wrap input*/
.hight-light{border:1px #FF0000 solid !important;}

.error-validate{
    background: url("../images/close.png") no-repeat scroll 8px center rgba(0, 0, 0, 0);
	padding-left: 30px;
	background-color: #ffd9d9;
	color: #ff0000;
}
/*Captcha*/
.user-field-captcha {
    clear: both;
    margin: 12px auto 0;
    position: relative;
    text-align: center;
    width: 318px;
}

.center{
	text-align: center;
}