#wrapper-content #step-content{
    display: block;
	overflow: hidden;
    margin: 30px;
    position: relative;
}

#step-intro{
    float: left;
	width: 70%;
}

#step-menu{
	float: right;
	width: 28%;
}

#step-intro, #step-menu{
	display: block;
}

#step-intro .step-name, #step-menu .menu-desc{
	background-color: #139ade;
	height: 55px;
	border: 1px solid #107cb3;
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
}

.step-name span, .menu-desc span{
	float: left;
	font-size: 18px;
    //font-weight: 600;
	margin: 19px;
}

.step-name a{
	float: right;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
	margin: 19px;
}

#step-intro .step-video{
	border: 1px solid #cccccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
	padding: 15px;
}

.youtube-video {
	background-color: #f8f7f7;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 4px;
	padding-bottom: 0px;
	overflow: hidden;
}

.sub-menu{
	border: 1px solid #cccccc;
	border-top: none;
	border-radius: 0 0 5px 5px;
}

.sub-menu ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.sub-menu ul li{
	height: 100%;
	border-bottom: 1px solid #cccccc;
	background-image: url('../images/bg-submenu.png');
}

.sub-menu ul li a{
	display: block;
	color: #333333;
	text-decoration: none;
	height: 100%;
	padding: 10px;
	font-weight: 600;
	background: url('../images/arrow-grey.png') no-repeat 290px center;
}

.sub-menu .advertising{
    padding: 27px 30px 34px 30px;
}
.sub-menu .advertising a{
    height: 100%;
    display: block;
}

.sub-menu .advertising img{
    border: 1px solid #c2ade1;
}