/*Log In box*/
.main-content > .container {
	background-color: #cccccc !important;
    margin-bottom: 30px;
    box-shadow: none !important;
}
#login-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    margin: 20px auto;
    padding-bottom: 5px;
    width: 540px;
}

#login-wrapper > .form {
    margin-top: 35px;
}

#login-wrapper > h3 {
    font-size: 18px;
    font-weight: normal;
    padding: 8px 20px;
    border-bottom: 1px solid #DDDDDD;
}
#login-wrapper .form-actions{padding: 0px; background-color: #FFFFFF; border: none;}

#login-wrapper .form-actions > input {
    border-radius: 3px;
    font-size: 16px;
    padding: 7px 0;
    width: 495px;
    background-color: #1096D9;
    background-image: -moz-linear-gradient(center top , #1096D9, #0786C5);
    background-repeat: repeat-x;
    border: medium none;
}

#login-wrapper .form-actions > input:hover{background-color:#1096D9;background-position: 0;}

#login-wrapper .well, #login-wrapper .hint-wrapper {
    background-color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 0px;
    min-height: 0px;
    padding:0px 21px;
}

#login-wrapper .hint-wrapper{
	margin-bottom: 25px;
}

.user-field-terms {
    //padding-top: 15px;
}

.user-field-terms > input, .user-field-terms > label{display: block;float: left;margin-right: 5px; font-size: 14px}
label[for="LoginForm_user_terms"] > span.required {display: none;}

.user-read-terms {
    clear: both;
    display: block;
    padding-top: 20px;
}
.field-row {
    margin-bottom: 15px;
}
#login-form > .field-row > input[type="text"], #login-form > .field-row > input[type="password"]{
    height: 35px;
    padding: 0 4px;
    width: 488px;
}

#login-form .field-row > label, label.bold {color: #333333;font-size: 16px;font-weight: normal;}

/*Hint Create Account*/
.hint-wrapper label#faint {
	color: #909090;
}

/*Row Password*/
a.forgot-link {
	float: right;
}
label.password-label{
	float: left;
	width: 75%;
}

/*Red border wrap input*/
.hight-light{border:1px #FF0000 solid !important;}

.error-validate{
    background: url("../images/close.png") no-repeat scroll 8px center rgba(0, 0, 0, 0);
	padding-left: 30px;
	background-color: #ffd9d9;
	color: #ff0000;
}
/*Social*/
.social {
	position: relative;
	overflow: hidden;
}
.social a {
	float: left;
	height: 41px;
	width: 166px;
	text-decoration: none;
	//margin-bottom: 10px;
}

.well label.bold{
	margin: 20px 0 15px 3px;
}

.social a  > span {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    padding-left: 43px;
    padding-top: 11px;
}

.facebook{
	background: url("../images/social-buttons.png") no-repeat scroll 0 -34px rgba(0, 0, 0, 0);
}
.twitter{
     background: url("../images/social-buttons.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}
.google{
    background: url("../images/social-buttons.png") no-repeat scroll 0 -71px rgba(0, 0, 0, 0);
}