.main-content > .container{
    background-color:#CCCCCC !important;
}
#TTenant_account_type > input, #TTenant_account_type > label{display: block;float: left;margin-right: 5px;}
#TTenant_account_type > label{margin-right: 40px;font-size: 14px;}
.user-field-captcha {
    clear: both;
    margin: 12px auto 0;
    position: relative;
    text-align: center;
    width: 318px;
}
.user-field-terms > input, .user-field-terms > label{display: block;float: left;margin-right: 5px;font-size: 14px;}
label[for="TTenant_user_terms"] > span.required {display: none;}
#TTenant_account_type {
    display: block;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    border-bottom: 5px solid #EAEAEA;
}
.user-field-terms {padding-top: 15px;}
.user-read-terms {
    clear: both;
    display: block;
    padding-top: 15px;
    text-align: left;
    color: #909090;
}
#create-user-account > .form {margin-top: 40px;}
.field-row {margin-bottom: 15px;}
#create-user-account {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    box-shadow: 0 1px 1px #B3B3B3, 1px 0 1px #B3B3B3, -1px 0 1px #B3B3B3, 0 -1px 1px #B3B3B3;
    margin: 50px auto;
    padding-bottom: 5px;
    width: 540px;
}
#create-tenant-form > .field-row > input[type="text"], #create-tenant-form > .field-row > input[type="password"]{
    color: #747474;
    font-size: 16px;
    height: 35px;
    padding: 0 4px;
    width: 488px;
    border:1px #CCCCCC solid;
}
#create-user-account > h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 8px 20px;
    border-bottom: 1px solid #DDDDDD;
}
#create-user-account .form-actions{padding: 0px;}
#create-user-account .form-actions > input {
    border-radius: 3px;
    font-size: 16px;
    padding: 0px 0;
    width: 495px;
    height:40px;
    background-color: #1096D9;
    background-image: -moz-linear-gradient(center top , #1096D9, #0786C5);
    background-repeat: repeat-x;
    border: medium none;
}
#create-user-account .form-actions > input:hover{background-color:#1096D9;background-position: 0;}
#create-user-account .well {
    background-color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0.05);
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 0px;
    min-height: 0px;
    padding:0px 21px;
}
.field-row span.required{display: none;}
label[for="TTenant_business_name"] > span {
    color: #909090;
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
}
#create-tenant-form .field-row > label {color: #333333;font-size: 16px;font-weight: normal;}
.user-field-terms > .alert.alert-error {clear: both;}
.hight-light{border:1px #FF0000 solid !important;}

.ok-validate{background: url("../images/ok.png") no-repeat scroll 470px center rgba(0, 0, 0, 0);border:1px #65B346 solid !important;}
.error-validate{background: url("../images/close.png") no-repeat scroll 470px center rgba(0, 0, 0, 0);}
.invalid-strength{float: right;font-weight: normal;font-size: 12px;}
#recaptcha_privacy {display: none;}
.recaptcha_theme_red #recaptcha_response_field{top:-2px;}
.invalid-strength.weak > span {color: #FF3300;}
.invalid-strength.moderate > span {color: #FF9900;}
.invalid-strength.strong > span {color: #6BCD12;}
.user-field-terms .invalid-email {clear: both;display: block;float: none;text-align: left;}
.site-domain-partner{
    color:#989898;font-size: 14px;
}
#TTenant_domain{height: 35px;padding: 0 4px;width: 187px;background-position: 174px center;}