#wrapper-content .container, #wrapper-nav .container{
	background-color: #FFFFFF;
	border-radius: 5px;
}

/*All ul*/
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#wrapper-nav{
	margin-bottom: 25px;
}

#wrapper-nav .span12{
	box-shadow: 0px 6px 6px #888888;
}

#wrapper-nav #nav{
	background-color: #f5f5f5;
    display: block;
    height: 63px;
    margin: 20px;
    position: relative;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 0 2px 1px #E6E6E6 inset;
}

#wrapper-nav ul{
	height: 100%;
}

#wrapper-nav ul.parent-ul > li{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
}

#wrapper-nav ul.parent-ul > li > a{
	display: block;
	color: #333333;
	text-decoration: none;
	border-right: 1px solid #cccccc;
	height: 100%;
	font-weight: 600;
	font-size: 14px;
}

#wrapper-nav ul.parent-ul > li.last > a{
	border-right: none;
	
}

#wrapper-nav ul.parent-ul > li > a span{
	display: block;
	width: 100%
}

#wrapper-nav ul.parent-ul > li > a span:first-child{
	padding-top: 15px;
}

.active {
    //background-color: #1096D9;
	background: linear-gradient(to bottom, #1096D9 0%, #0785C4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #0570a6 !important;
    margin-left: -1px;
    margin-top: -1px;
	color: #FFFFFF !important;
}

li.last .active{
	border-radius: 0 5px 5px 0;
	margin-right: -1px;
}

li.first .active{
	border-radius: 5px 0px 0px 5px;
}

/*Begin Widget*/
#wrapper-content{
	margin-bottom: 30px;
}

.wrapper-widget .left-widget, .wrapper-widget .right-widget{
    background-color: #FFFFFF;
	border-radius: 3px;
}

.left-widget{
    float: left;
	width: 49%;
	min-height: 340px;
}

.right-widget{
	float: right;
	width: 49%;
	min-height: 340px;
}

.widget-title{
    height: 46px;
    border-bottom: 1px solid #cccccc;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px 3px 0px 0px;
}

.widget-title span{
	float: left;
	font-size: 18px;
    //font-weight: 600;
	margin: 14px 20px;
}

.widget-title a{
	float: right;
	color: #333dc1;
	text-decoration: none;
	font-size: 14px;
	margin: 14px 20px;
}

.widget-list{
	display: block;
	overflow: hidden;
}

.widget-list ul li{
	display: block;
	overflow: hidden;
	margin-bottom: 8px;
}

.widget-list .avatar{
	float: left;
    padding: 20px;
}

.widget-list .avatar a{
	height: 100%;
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 4px;
	box-shadow: -1px 1px 2px #E6E6E6 inset, 1px 1px 2px #E6E6E6 inset, 1px -1px 3px #E6E6E6 inset;
}

.widget-list .detail{
	margin-top: 25px;
	margin-right: 16px;
}

.widget-list .detail span{
	font-size: 17px;
}

.widget-list .detail p{
	color: #909090;
}

.widget-list .detail a{
	color: #333dc1;
	text-decoration: none;
	float: right;
	font-size: 14px;
}

/*Second widget*/
.widget-list .quote{
	border: 1px solid #cccccc;
	border-radius: 3px;
	margin: 16px 22px 0px 20px;
	font-size: 22px;
	line-height: 1.5em;
	padding: 18px 32px 21px 14px;
	background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.widget-list .quote-arrow{
	background: url('../img/quote.png') no-repeat;
	display: block;
	width: 25px;
	height: 15px;
	margin-left: 155px;
	margin-top: -1px;
}

.right-widget .widget-list .detail a{
	margin-right: 9px;
}

.right-widget .widget-list .avatar{
	margin-top: -26px;
}

/*Hover action*/
.step-content {
    background-color: #FFFFFF;
    //height: 200px;
    left: 0;
    margin-left: -21px;
    padding: 0 21px;
    position: absolute;
    width: 100%;
    z-index: 9;
	display: block;
	border-radius: 0 0 5px 5px;
    box-shadow: 0px 6px 6px #888888;
}
#wrapper-nav ul li:hover .step-content{display: block;}

.list-child-wrap, .partner, .newsletter{
    //border: 1px solid #000000;
    text-align: left;
}

.partner, .newsletter{
    //padding-left: 50px;
}

.list-child-wrap{
    width: 40%;
    float: left;
}

.partner{
    width: 30%;
    float: left;
}

.newsletter{
    width: 30%;
    float: left;
}

.top-title{
    border-bottom: 5px solid #EAEAEA;
    margin-left: 50px;
    margin-top: 31px;
    padding-bottom: 15px;
    font-size: 19px;
    color: #139ade;
}

.list-child-wrap .top-title{
    margin-left: 5px;  
}

ul.child-ul{
    margin: 30px 0px 30px 11px;
}

ul.child-ul li{
    overflow: hidden;
    margin-bottom: 20px;
}

ul.child-ul li span{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

ul.child-ul li a{
    float: right;
    text-decoration: none;
}

ul.child-ul li a.uncompleted{
    color: #139ade;
    margin-right: 12px;
}

ul.child-ul li a.completed{
    margin-right: 5px;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 6px;
    background: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

